# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Code Igniter
*/config/development
*/logs/log-*
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

#Code Igniter 3
__tmp/*
application/vendor/*
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
application/.cc/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

composer.lock

assets/images/blog/*
assets/images/users/*
assets/images/testimonials/*
assets/images/manager/*
